<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="Description" content="Compartilhe sua vibe musical com amigos através de playlists exclusivas baseadas nos artistas que vocês mais escutam.">
    <meta name="apple-mobile-web-app-title" content="Sinttonia">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Sinttonia" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/26d6de301e.js"></script>
    <link phx-track-static rel="icon" href="<%= Routes.static_path(@conn, "/images/tt-logo.png") %>">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6Y69GPZ6MM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6Y69GPZ6MM');
    </script>
  </head>
  <body class="homepage">
    <%=@inner_content %>
  </body>
</html>
